<div class="form-wrapper">
<%= form_for(car) do |f| %>

  <div class="form-row">
    <%= f.label :title, class:"label" %>
    <%= f.text_field :title %>
  </div>

  <div class="form-row">
    <%= f.label :body, class:"label" %>
    <%= f.text_area :body, class:"text_area" %>
  </div>

  <div class="form-row">
  <%= f.label :make, class:"label" %>
  <%= f.text_field :make %>
  </div>

  <div class="form-row">
    <%= f.label :model,class:"label" %>
    <%= f.text_field :model %>
  </div>

  <div class="form-row">
    <%= f.label :year,class:"label" %>
    <%= f.number_field :year %>
  </div>

  <div class="form-row">
    <%= f.label :price, class:"label" %>
    <%= f.text_field :price %>
  </div>

  <div class="form-row">
    <%= f.label :seller_name, class:"label" %>
    <%= f.text_field :seller_name %>
  </div>

  <div class="form-row">
    <%= f.label :seller_phone, class:"label" %>
    <%= f.text_field :seller_phone %>
  </div>

  <div class="form-row">
    <%= f.label :photo_url, class:"label" %>
    <%= f.text_field :photo_url %>
  </div>


    <%= f.submit %>


<% end %>
</div>
