<p id="notice"><%= notice %></p>


<div class="car-show">


<p class="ad-title">
<%= @car.title %>
</p>
<div class="car-show-phot">
  <%= image_tag @car.photo_url, class:"for-sale"%>
</div>


<p class="ad">
<%= @car.body%>
</p>

<p>
<%= @car.make %>
</p>

<p>
<%= @car.model %>
</p>

<p>
  <%= @car.year %>
</p>

<p>
<%= @car.price %>
</p>

<p>
<%= @car.seller_name %>
</p>

<p>
<%= @car.seller_phone %>
</p>





<div>
<%if @car.user == current_user && user_signed_in?%>
<%= link_to 'Delete', @car, method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-content hvr-fade"%>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%  end %>

<%= link_to 'Back', cars_path %>

</div>

</div>
