<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @car.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @car.body %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Seller name:</strong>
  <%= @car.seller_name %>
</p>

<p>
  <strong>Seller phone:</strong>
  <%= @car.seller_phone %>
</p>

<p>


  <%= image_tag @car.photo_url, class:"for_sale"%>

</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
