<p id="notice"><%= notice %></p>


<div class="car-show">


<p class="ad-title">
<%= @car.title %>
</p>

<p class="ad">
<%= @car.body%>
</p>

<p>
<%= @car.make %>
</p>

<p>
<%= @car.model %>
</p>

<p>
  <%= @car.year %>
</p>

<p>
<%= @car.price %>
</p>

<p>
<%= @car.seller_name %>
</p>

<p>
<%= @car.seller_phone %>
</p>



<div class="car-show-phot">
  <%= image_tag @car.photo_url, class:"for-sale"%>
</div>

<div>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
</div>

</div>
