<!DOCTYPE html>
<html>
  <head>
    <title>DCPistons</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShXSzccjYqq9xrt_Xdw6MRhzarUanr-18tMiS7jJuroskH92pX">
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="logo-img">
      <img src="https://petrolicious.com/wp-content/themes/petrolicious/images/logo.svg">
    </div>

    <nav class="navbar"><a class="nav-content hvr-fade" <%= link_to "Cars for slae", cars_path%></a>
  <a class="nav-content hvr-fade" <%= link_to "Articles", articles_path%></a>
<a class="nav-content hvr-fade" <%= link_to "Gallery"%></a>
<a class="nav-content hvr-fade" <%= link_to "Sign Up", new_user_registration_path%></a>

<% if user_signed_in? %>
<a class="nav-content hvr-fade" <%= link_to "Sign OUt", destroy_user_session_path, method: :delete%></a>

<%else%>
<a class="nav-content hvr-fade" <%= link_to "Log In", new_user_session_path%></a>
<%end%>
</nav>
<hr>
<%= yield %>
</body>
</html>
