<!DOCTYPE html>
<html>
  <head>
    <title>DC Cars and Coffee</title>
    <!-- <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShXSzccjYqq9xrt_Xdw6MRhzarUanr-18tMiS7jJuroskH92pX"> -->
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>




    <nav class="navbar">
      <img src="http://i.imgur.com/9yoJJg7.png" class="nav-logo"/>
      <a href="#"></a>
      <a class="nav-content hvr-fade" <%= link_to "Home", root_path%></a>
      <a class="nav-content hvr-fade" <%= link_to "Cars for slae", cars_path%></a>

  <a class="nav-content hvr-fade" <%= link_to "Articles", articles_path%></a>

  <%Category.all.each do |category|%>
  <a>
    <%=link_to category.name, articles_path(category: category.name), class: "nav-content hvr-fade" %>
  </a>

  <%end%>

</a>
<a class="nav-content hvr-fade" <%= link_to "Sign Up", new_user_registration_path%></a>

<% if user_signed_in? %>
<a class="nav-content hvr-fade" <%= link_to "Sign Out", destroy_user_session_path, method: :delete%></a>

<%else%>
<a class="nav-content hvr-fade" <%= link_to "Log In", new_user_session_path%></a>
<%end%>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
