<!DOCTYPE html>
<html>
  <head>
    <title>DCPistons</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="logo-img">
      <img src="https://petrolicious.com/wp-content/themes/petrolicious/images/logo.svg">
    </div>

    <nav class="navbar">
              <a class ="nav-content" <%= link_to "Cars for slae", cars_path%></a>
              <a class ="nav-content" <%= link_to "Article", articles_path%></a>
              <a class ="nav-content" <%= link_to "Gallery"%></a>
    </nav>
    <%= yield %>
  </body>
</html>
